.buttons {
  margin: auto;
}

#mangaPage,
.mangaPages {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.none {
  display: none;
}

.show {
  display: block;
}

.pointer {
  cursor: pointer;
}

.app {
  display: block;
  left: 50%;
}

@media (max-height: 800px) {
  .buttons {
    width: 80%;
    height: auto;
  }
}
